header {
  background-color: #C5D5E4
}

.nav-button {
  background-color: #8896AB;
  color: rgb(255, 255, 255);
  font-family: Arial;
  padding: 25px, 60px;
  border-radius: 4px;
  text-align: center;
  font-size: 14pt;
  cursor: pointer;
  margin: 100px 50px
}

.header-right {
  float: right;
  display: flex;
  align-itmes: center
}

